footer {
    margin-top: 3rem;
    width: 100vw;
    height: 300px;
    background-color: #f7f8f8;
}

footer h2 {
    font-size: 1rem;
    margin-left: 20%;
    padding-top: 5%;
}

footer a {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    text-decoration: none;
    margin-left: 20%;
    color: #c4c4c4;
    transition: 0.5s all ease-in-out;
}

footer a:hover {
    color: black;
}

.copyright {
    margin-top: 80px;
    margin-left: 20%;
}
